.card-container{
    float: left;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-card td, th, tr {
    padding: 0!important;
    width: 20%;
}
.table-card {
    width: 100%;
    max-width: 500px;
}
.btn {
    margin-top: 20px;
}