.cell-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
}

.blue {
    background: #4679BD;
}
.red {
    background: #f47c7c;
}

.cell-container:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.cell-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.cell-content div {
    display: table;
    width: 100%;
    height: 100%;
 }
 .cell-content span {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     color: white;
     font-size: 100%;
 }